
testest/testest/testest.csproj
testest/testest/Program.cs
testest/testest/obj/testest.csproj.nuget.g.targets
testest/testest/obj/testest.csproj.nuget.g.props
testest/testest/obj/testest.csproj.nuget.dgspec.json
testest/testest/obj/project.nuget.cache
testest/testest/obj/project.assets.json
testest/testest/obj/Debug/net5.0/testest.GeneratedMSBuildEditorConfig.editorconfig
testest/testest/obj/Debug/net5.0/testest.csprojAssemblyReference.cache
testest/testest/obj/Debug/net5.0/testest.assets.cache
testest/testest/obj/Debug/net5.0/testest.AssemblyInfoInputs.cache
testest/testest/obj/Debug/net5.0/testest.AssemblyInfo.cs
testest/testest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
testest/testest.sln
testest/.vs/testest/v16/.suo
testest/.vs/testest/DesignTimeBuild/.dtbcache.v2
oddities/.vs/oddities/DesignTimeBuild/.dtbcache.v2
numberfun/.vs/numberfun/v16/.suo
numberfun/.vs/numberfun/v16/.suo
numberfun/.vs/numberfun/v16/.suo
